{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-3">Bienvenidos!</h1>
    <p class="lead">Este en un proyecto de Negocios Electrónicos</p>
    <hr class="my-4">
    <p class="lead">En esta pagina encontrarás todas aquellos objetos de coleccion, no necesitas comprarlo solo pagas el envio. Puedes ofrecer tambien si tienes algo que los demas necesiten...</p>
    <p>Trueque desde tiempos antes una gran oferta !!!</p>
    <p>"Este es un modelo de prueba"</p>
    <p class="lead">
    </p>
    <a href="https://twitter.com/intent/tweet?text= Yanki&url=https://yanki.com&hashtags=dissenyweb"> Compartir en twitter</a>
    <p> <a href="/chat_box/">Chat de ayuda</href></p>
  </div>

{% endblock %}