{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Game of Thrones 7 volúmenes</h1>
    <p class="lead">Set de libros Harry Potter by JK Rowling</p>
    <p>Peso del producto : 8.44 pounds</p>
    <p>Tapa blanda : 5600 páginas</p>
    <p>ISBN-13: 978-0007477159</p>
    <p>ISBN-10: 0007477155</p>
    <p>Editorial : HarperCollins Publishers; 12a edición (1 Mayo 2012)</p>
    <p>Idioma: : Inglés</p>
    

    <img src="https://lh3.googleusercontent.com/-20h9EtW2anQ/X9Gm_Z0aXgI/AAAAAAAAoGk/OQLuEbF1p9UeGyOYFFsVYKQ4ITDIJAoNQCLcBGAsYHQ/gameofthrones.jpeg" width="550" height=300>
    <hr class="my-4">
    <p>¿Estas interesado en intercambiar este artículo?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Barter It</a>
    </p>
    <p>¿Tienes dudas sobre el artículo? comuníquese con el dueño del artículo mediante nuestro chat.</p>
    <p> <a href="/user_chat/">Únase al chat</href></p>
  </div>


{% endblock %}