{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Harry Potter Saga Completa</h1>
    <p class="lead">Set de libros Harry Potter by JK Rowling</p>
    <p>Curso : 4 - 6</p>
    <p>Peso del producto : 6.44 pounds</p>
    <p>Tapa blanda : 4167 páginas</p>
    <p>ISBN-13: 978-0545162074</p>
    <p>ISBN-10: 0545162076</p>
    <p>Editorial : Arthur A. Levine Books; Slp edición (1 Julio 2009)</p>
    <p>Nivel de lectura : 8 y más</p>
    <p>Idioma: : Inglés</p>
    

    <img src="https://cdn.shopify.com/s/files/1/0024/6874/1219/products/9-14-j-k-rowling-harry-potter-complete-collection-7-book-set-fiction-paperback-j-k-rowling-3_600x.jpg?v=1604929367" width="550" height=300>
    <hr class="my-4">
    <p>¿Estas interesado en intercambiar este artículo? ¿Tienes dudas sobre el artículo? comuníquese con el dueño del artículo mediante nuestro chat.</p>
    
    <p> <a href="/barterit/">Barter it</href></p>

    <p> <a href="/user_chat/">Únase al chat</href></p>
  </div>


{% endblock %}