{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">La casa de la Noche - Yess</h1>
    <p class="lead">Set de libros La casa de la Noche by P.C y Kristin Cast</p>
    <p>Marcada (ISBN 9780312360269)</p>
    <p>Traicionada (ISBN 9780312360283)</p>
    <p>Elegida (ISBN 9780312360306)</p>
    <p>Indómita (ISBN 9780312379834)</p>
    <p>Atrapada (ISBN 9780312379827)</p>
    <p>Tentada (ISBN 9780312567484)</p>
    <p>Abrasada (quemada). (ISBN 9780312606169)</p>
    

    <img src="https://images0.tablondeanuncios.com/imagenesdin/27/13/foto2713879.jpg" width="400" height=350>
    <hr class="my-4">
    <p>¿Estas interesado en intercambiar este artículo? ¿Tienes dudas sobre el artículo? comuníquese con el dueño del artículo mediante nuestro chat.</p>
    
    <p> <a href="/barterit/">Barter it</href></p>

    <p> <a href="/user_chat/">Únase al chat</href></p>
  </div>


{% endblock %}