{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Ps4 Slim 1TB - Yess</h1>
    <p class="lead">Hits Bundle Mega Pack</p>
    <p>Marca	Sony</p>
    <p>Línea	PlayStation</p>
    <p>Modelo	PlayStation 4</p>
    <p>Sub modelo	Slim</p>
    <p>Edición	Hits Bundle</p>
    <p>Capacidad	1 TB</p>
    

    <img src="https://http2.mlstatic.com/D_NQ_NP_977556-MPE41980556246_052020-O.webp" width="500" height=450>
    <hr class="my-4">
    <p>¿Estas interesado en intercambiar este artículo? ¿Tienes dudas sobre el artículo? comuníquese con el dueño del artículo mediante nuestro chat.</p>
    
    <p> <a href="/barterit/">Barter it</href></p>

    <p> <a href="/user_chat/">Únase al chat</href></p>
  </div>


{% endblock %}