{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">The Hunger Games - Yess</h1>
    <p class="lead">Box Set The Hunger Games by Suzanne Collins</p>
    <p>Editorial : Scholastic; N.º 1 edición (6 octubre 2020)</p>
    <p>Idioma: : Inglés</p>
    <p>Tapa dura : 1872 páginas</p>
    <p>ISBN-10 : 1338686534</p>
    <p>ISBN-13 : 978-1338686531</p>
    <p>Peso del producto : 2.26 kg</p>
    <p>Dimensiones : 15.24 x 14.61 x 24.13 cm</p>
    

    <img src="https://images0.tablondeanuncios.com/imagenesdin/27/13/foto2713879.jpg" width="400" height=350>
    <hr class="my-4">
    <p>¿Estas interesado en intercambiar este artículo? ¿Tienes dudas sobre el artículo? comuníquese con el dueño del artículo mediante nuestro chat.</p>
    
    <p> <a href="/barterit/">Barter it</href></p>

    <p> <a href="/user_chat/">Únase al chat</href></p>
  </div>


{% endblock %}