{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Nintendo Switch 32GB</h1>
    <p class="lead">Nintendo Switch 32GB Consola videojuegos con tarjeta de memoria de 32 GB/ Neon Rojo/ Neon Blue Joy-Con.</p>
    <img src="https://cdn.pocket-lint.com/r/s/970x/assets/images/140007-games-review-nintendo-switch-review-image1-lp6zy9awm0-jpg.webp?v1" width="550" height=300>
    <hr class="my-4">
    <p>¿Estas interesado en intercambiar este artículo?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Barter It</a>
    </p>
    <p>¿Tienes dudas sobre el artículo? comuníquese con el dueño del artículo mediante nuestro chat.</p>
    <p> <a href="/user_chat/">Únase al chat</href></p>
  </div>


{% endblock %}