{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <h2 class="lead"><strong>A continuación las ofertas de intercambio </strong></h2>
    <p>Si está de acuerdo clic en "continuar"</p>
</div>
<div class="col">
    <table class="table table-hover">
        <tr class = "table primary">
            <td>Quiero</td>
            <td>Quiere</td>
          </tr>
          <tbody>
            <tr>
                <td><img src="https://cdn.shopify.com/s/files/1/0024/6874/1219/products/9-14-j-k-rowling-harry-potter-complete-collection-7-book-set-fiction-paperback-j-k-rowling-3_600x.jpg?v=1604929367" width="250" height=100></td>
                <td><img src="https://http2.mlstatic.com/D_NQ_NP_977556-MPE41980556246_052020-O.webp" width="250" height=150></td>
            </tr>
        </tbody>
      </table>
</div>
<a href="/entrega_1/" class="btn btn-info">Continuar</a>

{% endblock %}